@charset "UTF-8";

@import url(src/style/aboutMe.css);
@import url(src/style/courses.css);
@import url(src/style/divisionDevices.css);
@import url(src/style/divisionLanguage.css);
@import url(src/style/footer.css);
@import url(src/style/header.css);
@import url(src/style/media.css);
@import url(src/style/presentation.css);
@import url(src/style/projects.css);

body {
	font-family: Brush Script MT, cursive;
	margin: 0;
	padding: 0;
}

* { user-select: none; }