#me {
	position: relative;
	background-image: linear-gradient(to bottom right, rgba(25, 111, 223, 0.5), 
	rgba(11, 41, 5, 0.9),  rgba(79, 16, 226, 0.9)), url('../assets/images/backgroundPresentation.webp');
	margin-left: 0;
	animation: moveToBottom 20s linear infinite;
}

#meImage img {
    
	position: relative;
	top: 100px;
	border: 3px solid transparent;
	border-radius: 50%;
	box-shadow: rgb(21, 124, 214) -1px 1px,
				rgb(21, 114, 214) -2px 2px,
				rgb(21, 104, 214) -3px 3px,
				rgb(21, 94, 214) -4px 5px,
				rgb(21, 84, 214) -6px 6px,
				rgb(21, 68, 214) -7px 7px,
				rgb(21, 78, 214) -8px 8px,
				rgb(21, 88, 214) -9px 9px,
				rgb(21, 98, 214) -10px 10px,
				rgb(21, 108, 214) -11px 11px;	
}

#meDesc {
	position: relative;
	top: 110px;
	color: white;
	padding-right: 10%;
}

.descLevel {color: yellow;}

.descType {color: rgb(187, 178, 178);}

.descName {color: skyblue;}