.coursesName a{
	text-align: center;
	position: relative;
	font-size: 30px;
	color: white;
	text-decoration: none;
}

.coursesDesc {
	text-align: left;
	position: relative;
	top: 50px;
	font-size: 20px;
	color: whitesmoke;
}

.coursesTools {
	text-align: left;
	position: relative;
	top: 90px;
	font-size: 20px;
}

.coursesTools span {
	position: relative;
	top: 5px;
	font-weight: 900;
	border: 1px solid transparent;
	border-radius: 20px;
	margin-top: 5%;
	padding: 0 2%;
	background-color: rgb(173, 211, 202);
}

.html {color: rgb(255, 68, 0);}

.css {color: rgb(17, 103, 233);}

.bootstrap {color: purple;}

.js  {color: yellow;}

.php {color: rgb(145, 99, 204);}

.mysql {color: white;}

.ajax {color: red;}

.jquery {color: rgb(255, 110, 0);}

.wordpress {color: rgb(108, 171, 255);}

.react {color: rgb(0, 148, 255)}

.fullscreen {position: relative;}

#coursesTitle {
	float: left;
	letter-spacing: 15px;
	position: relative;
	top: 50px;
	left: 10%;
	background: linear-gradient(to left top, rgb(211, 224, 230), rgba(79, 16, 226, 0.9));
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-size: 40px;
	font-weight: 900;
}

#coursesButton {
	position: relative;
	top: 140px;
	left: 10%;
	background-color: black;
}

#coursesList li {font-size: 20px; background-color: black;}

#coursesPage {
	position: relative;
	top: 53px;
	left: 50%;
	color: purple;
	width: 20%;
}

#coursesPage:hover {cursor: pointer;}

#two, #three, #four, #five {display: none;}

#coursesList li:hover {background-color: rgb(3, 26, 41); cursor: pointer;}