@keyframes moveToBottom{ from {background-position: bottom;} to {background-position: top;}}

#navigation {
	position: fixed;
	background-image: linear-gradient(to right top, rgba(79, 16, 226, 0.9), rgba(25, 111, 223, 0.5),
	rgba(11, 41, 5, 0.9)), url('../assets/images/backgroundPresentation.webp');
	padding-left: 25%;
	border: 0;
	font-size: 20px;
	cursor: pointer;
	animation: moveToBottom 20s linear infinite;
}

#nameBrand {
	border: 0 !important;
	font-size: 30px !important;
	color: black !important;
	position: relative !important;
	right: 50% !important;
}

@keyframes wheel {50% {rotate: y 180deg;}}

#spin:hover {animation: wheel 0.40s infinite;}