@media only screen and (max-width: 990px) {
	#backgroundNav {
		background-image: url(../assets/images/backgroundNav.webp) !important; 
		width: 100% !important; 
		height: 100% !important;
	}

	.col-6 {width: 100% !important;}
	
	#meImage img {width: 80% !important;}

	#apresentationDesWeb {position: relative; top: 400px;}

	.projects {
		position: relative !important;
		left: -5% !important;
		margin-bottom: 10% !important;		
	}

	#imagePresentation1 {
		position: relative !important;
		top: 5% !important;
	}
}

@media only screen and (max-width: 870px) {
	.sites {position: relative !important; margin-left: 2% !important;}

	#coursesPage {
		position: relative !important;
		left: 0 !important;
		top: 100px !important;
	}
}

@media only screen and (max-width: 700px) {
	.projects {
		position:  relative !important; margin-bottom: 160px !important;}

	.courseDesc {font-size: 16px !important;}

	#contact {
		position: relative !important;
		margin-top: 40% !important;
		border-color: 1px solid red !important;
		width: 60% !important;
	}
	
	#meImage img {width: 100% !important;}
}

@media only screen and (max-width: 500px) {
	#nameBrand {position: relative; left: 5%;}
}

@media only screen and (max-width: 450px) {
	#coursesTitle, #projectsTitle {
		letter-spacing: 0;
	}
}

@media only screen and (max-width: 400px) {
	#name {
		font-size: 40px !important;
	}
}