#presentation {
	position: relative;
	background-image: linear-gradient(to bottom right,  rgba(79, 16, 226, 0.9),rgba(25, 111, 223, 0.5), 
	rgba(11, 41, 5, 0.9)), url('../assets/images/backgroundPresentation.webp');
	width: 100%;
	font-family: "Dancing Script", cursive;
	animation: moveToBottom 20s linear infinite;
}

#name {
	position: relative;
	font-family: "Stardos Stencil", system-ui;
	font-weight: 700;
	font-size: 60px;
	background: linear-gradient(to left bottom, rgb(211, 224, 230), rgb(21, 124, 214));
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

#face {
	position: relative;
	margin-top: 40%;
	bottom: 10%;
}

#imagePresentation1 {
	position: relative;
	top: -200px;
}