@keyframes moveToUp{ from {background-position: top;} to {background-position: bottom;}}

#projectsName {
	position: relative;
	text-align: center;
	font-weight: 900;
	font-size: 55px;
	color: rgb(129, 90, 221);
}

#projectsBody {
	position: relative;
	width: 100%;
	background-image: linear-gradient(to bottom right,rgba(25, 111, 223, 0.5), 
	rgba(11, 41, 5, 0.9)), url('../assets/images/backgroundPresentation.webp');
	font-family: 'indie flower', cursive;
	animation: moveToUp 20s linear infinite;
}

.sites {
	position: relative;
	top: 50px;
	border: 5px solid transparent;
	background-color: rgb(21, 124, 214);
	border-radius: 5%;
	width: 40%;
	height: 900px;
	margin-left: 10%;
	margin-top: 5%;
}

.sites iframe {
	position: relative;
	top: 30px;
    border: 5px solid gray;
	border-radius: 10%;
    width: 100%;
    height: 450px;
}

.fullscreen {
	cursor: pointer; 
	position: relative; 
	margin-top: -20px;
}

.fullscreen:hover {
	transition: all .4s linear;
	-webkit-transition: all .4s linear;
	transform: scale(1.4);
}

#projectsTitle {
	float: right;
	right: 10%;
	letter-spacing: 15px;
	position: relative;
	background: linear-gradient(to right top, rgb(211, 224, 230), rgba(79, 16, 226, 0.9));
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-size: 40px;
	font-weight: 900;
}

#projects {position: relative; top: 200px; padding-bottom: 30%;}

.projects {
	position: relative;
	top: 50px;
	border: 5px solid transparent;
	background-color: rgb(114, 68, 223);
	border-radius: 5%;
	width: 40%;
	height: 900px;
	left: 5%;
	margin-left: 10%;
	margin-top: 5%;
}

.projects iframe {
	position: relative;
	top: 30px;
    border: 5px solid black;
	border-radius: 10%;
    width: 100%;
    height: 450px;
}