<h2 class="mt-5 mb-5" id="coursesTitle">Acadêmicos</h2>
<button id="coursesButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="cursos"></button>
<nav class="btn-group" id="coursesList">
	<ul class="dropdown-menu dropdown-menu-end text-center">
		<li class="html" id="html"><a class="dropdown-item" href="#html"></a>HTML5</li>
		<li class="css" id="css"><a class="dropdown-item" href="#css"></a>CSS3</li>
		<li class="bootstrap" id="bootstrap"><a class="dropdown-item" href="#bootstrap"></a>Bootstrap</li>
		<li class="js" id="js"><a class="dropdown-item js" href="#js"></a>JavaScript</li>
		<li class="jquery" id="jquery"><a class="dropdown-item" href="#jquery"></a>jQuery</li>
		<li class="react" id="react"><a class="dropdown-item" href="#react"></a>React</li>
		<li class="ajax" id="ajax"><a  class="dropdown-item" href="#ajax"></a>Ajax</li>
		<li class="mysql" id="mysql"><a class="dropdown-item" href="#mysql"></a>MySQL</li>
		<!--<li style="color: lightsalmon;" id="kotlin"><a class="dropdown-item"  href="#kotlin"></a>Kotlin</li>-->
		<li class="php" id="php"><a class="dropdown-item" href="#php"></a>PHP</li>
		<!--<li style="color: rgb(47, 59, 126);" id="python"><a class="dropdown-item" href="#python"></a>Python</li>
		<li style="color: palevioletred;" id="sass"><a class="dropdown-item" href="#sass"></a>Sass</li>-->
		<li class="wordpress" id="wordpress"><a class="dropdown-item"  href="#wordpress"></a>Wordpress</li>
	</ul>
</nav>	
	
<div class="mt-5" id="page"></div>