<div class="languages">
	<img src="src/assets/icons/languages/html5.webp" width="180px" height="130px" alt="image-html5">
	<img src="src/assets/icons/languages/css3.webp" width="210px" height="160px" alt="image-css3">
	<img src="src/assets/icons/languages/javascript.webp" width="180px" height="130px" alt="image-js">
	<img src="src/assets/icons/languages/bootstrap.webp" width="230px" height="180px" alt="image-bootstrap">
	<img src="src/assets/icons/languages/jquery.webp" width="220px" height="170px" alt="image-jquery">
	<img src="src/assets/icons/languages/node.webp" width="180px" height="147px" alt="image-nodejs">
	<img src="src/assets/icons/languages/ajax.webp" width="240px" height="190px" alt="image-ajax">
	<img src="src/assets/icons/languages/mysql.webp" width="190px" height="140px" alt="image-mysql">
                <img src="src/assets/icons/languages/react.webp" width="200px" height="150px" alt="image-react">
	<!--<img src="src/assets/icons/languages/kotlin.webp" width="200px" height="150px" alt="image-kotlin">-->
	<img src="src/assets/icons/languages/php.webp" width="230px" height="100px" alt="image-php">
	<img src="src/assets/icons/languages/python.webp" width="180px" height="130px" alt="image-python">
	<img src="src/assets/icons/languages/sass.webp" width="230px" height="180px" alt="image-sass">
	<img src="src/assets/icons/languages/wordpress.webp" style="padding-left: 25px;" width="230px" height="114px" alt="image-wordpress">
	<img src="src/assets/icons/languages/github.webp" style="padding-left: 25px;" width="230px" height="205px" alt="image-github">
	<img src="src/assets/icons/languages/visualstudio.webp" style="padding-left: 25px;" width="190px" height="165px" alt="image-vstudio">
</div>

<div class="languages">
	<img src="src/assets/icons/languages/html5.webp" width="180px" height="130px" alt="image-html5">
	<img src="src/assets/icons/languages/css3.webp" width="210px" height="160px" alt="image-css3">
	<img src="src/assets/icons/languages/javascript.webp" width="180px" height="130px" alt="image-js">
	<img src="src/assets/icons/languages/bootstrap.webp" width="230px" height="180px" alt="image-bootstrap">
	<img src="src/assets/icons/languages/jquery.webp" width="220px" height="170px" alt="image-jquery">
	<img src="src/assets/icons/languages/node.webp" width="180px" height="147px" alt="image-nodejs">
	<img src="src/assets/icons/languages/ajax.webp" width="240px" height="190px" alt="image-ajax">
	<img src="src/assets/icons/languages/mysql.webp" width="190px" height="140px" alt="image-mysql">
	<img src="src/assets/icons/languages/react.webp" width="200px" height="150px" alt="image-react">
	<!--<img src="src/assets/icons/languages/kotlin.webp" width="200px" height="150px" alt="image-kotlin">-->
	<img src="src/assets/icons/languages/php.webp" width="230px" height="100px" alt="image-php">
	<img src="src/assets/icons/languages/python.webp" width="180px" height="130px" alt="image-python">
	<img src="src/assets/icons/languages/sass.webp" width="230px" height="180px" alt="image-sass">
	<img src="src/assets/icons/languages/wordpress.webp" style="padding-left: 25px;" width="230px" height="114px" alt="image-wordpress">
	<img src="src/assets/icons/languages/github.webp" style="padding-left: 25px;" width="230px" height="205px" alt="image-github">
	<img src="src/assets/icons/languages/visualstudio.webp" style="padding-left: 25px;" width="190px" height="165px" alt="image-vstudio">
</div>