<div class="devices">
    <img src="src/assets/icons/devices/pc1.webp" width="249px" height="180px" alt="image-pc1">
    <img src="src/assets/icons/devices/pc2.webp" width="259px" height="180px" alt="image-cel1">
    <img src="src/assets/icons/devices/pc3.webp" width="441px" height="180px" alt="image-pc2">
    <img src="src/assets/icons/devices/pc4.webp" width="259px" height="180px" alt="image-pc3">
    <img src="src/assets/icons/devices/pc5.webp" width="259px" height="180px" alt="image-cel2">
    <img src="src/assets/icons/devices/pc6.webp" width="254px" height="180px" alt="image-note1">
    <img src="src/assets/icons/devices/pc7.webp" width="254px" height="180px" alt="image-pc4">
    <img src="src/assets/icons/devices/pc8.webp" width="259px" height="180px" alt="image-pc5">
    <img src="src/assets/icons/devices/pc9.webp" width="259px" height="180px" alt="image-pc6">
    <img src="src/assets/icons/devices/pc10.webp" width="259px" height="180px" alt="image-note2">
    <img src="src/assets/icons/devices/pc11.webp" width="259px" height="180px" alt="image-pc7">
    <img src="src/assets/icons/devices/pc12.webp" width="259px" height="180px" alt="image-pc8">
    <img src="src/assets/icons/devices/pc13.webp" width="232px" height="180px" alt="image-pc9">
    <img src="src/assets/icons/devices/pc14.webp" width="320px" height="180px" alt="image-pc10">
</div>

<div class="devices">
    <img src="src/assets/icons/devices/pc1.webp" width="249px" height="180px" alt="image-pc1">
    <img src="src/assets/icons/devices/pc2.webp" width="259px" height="180px" alt="image-cel1">
    <img src="src/assets/icons/devices/pc3.webp" width="441px" height="180px" alt="image-pc2">
    <img src="src/assets/icons/devices/pc4.webp" width="259px" height="180px" alt="image-pc3">
    <img src="src/assets/icons/devices/pc5.webp" width="259px" height="180px" alt="image-cel2">
    <img src="src/assets/icons/devices/pc6.webp" width="254px" height="180px" alt="image-note1">
    <img src="src/assets/icons/devices/pc7.webp" width="254px" height="180px" alt="image-pc4">
    <img src="src/assets/icons/devices/pc8.webp" width="259px" height="180px" alt="image-pc5">
    <img src="src/assets/icons/devices/pc9.webp" width="259px" height="180px" alt="image-pc6">
    <img src="src/assets/icons/devices/pc10.webp" width="259px" height="180px" alt="image-note2">
    <img src="src/assets/icons/devices/pc11.webp" width="259px" height="180px" alt="image-pc7">
    <img src="src/assets/icons/devices/pc12.webp" width="259px" height="180px" alt="image-pc8">
    <img src="src/assets/icons/devices/pc13.webp" width="232px" height="180px" alt="image-pc9">
    <img src="src/assets/icons/devices/pc14.webp" width="320px" height="180px" alt="image-pc10">
</div>