<h2 class="text-light text-center mb-5">Vamos nos conectar!? <i class="fa-solid fa-arrow-turn-down fa-beat fa-xs" style="color: #ffffff;"></i></h2>
	
<ul class="nav navbar mb-5">
	<li><a href="mailto:caiosribeiro@bol.com.br?subject=Interesse%20no%20portifolio&body=Ola%20Caio%20gostei%20do%20seu%20trabalho,%20gostaria%20de%20saber%20mais" aria-label="enviar email para CaiosribeiroJP"><i class="fa-solid fa-envelope fa-2xl" style="color: #157cd6;"></i></a></li>			
	<li><a href="https://github.com/CaiosribeiroJP" target="_blank" aria-label="github"><i class="fa-brands fa-square-github fa-2xl" style="color: #157cd6;"></i></a></li>
	<li><a href="http://www.linkedin.com/in/caiosribeirojp" target="_blank" aria-label="linkedin"><i class="fa-brands fa-linkedin fa-2xl" style="color: #157cd6;"></i></a></li>
	<li><a href="src/assets/docs/CaioSantosRibeiro_Curriculo.pdf" target="_blank" rel="noopener noreferrer" aria-label="Caio_SantosRibeiro_Curriculo">
	<i class="fa-solid fa-file-pdf fa-2xl" style="color: #157cd6;"></i></a></li>
</ul>

<strong><span id="brand">© CaiosribeiroJP</span></strong>