<nav id="navigation" class="nav navbar navbar-expand-lg fixed-top mb-5">    
    <li class=" nav-item text-left">
        <div id="spin"><a id="nameBrand" class="nav-brand link-underline link-underline-opacity-0 fw-bold" href="#" >CaiosribeiroJP</a></div>		
    </li>

    <div id="buttonNav" class="offcanvas-top">
        <button style="background-color: white;" class="navbar-toggler border border-black m-3" type="button" data-bs-toggle="offcanvas" data-bs-target=".button-links">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class=" navbar nav offcanvas offcanvas-top button-links text-bg-dark fw-semibold" data-bs-scroll = 'true' tabindex="-1">
        <ul id="backgroundNav" class="nav navbar navbar-nav">
            <li class="nav-item">
                <a class="d-inline m-3 link-light link-opacity-75 link-underline link-underline-opacity-0 link-underline-opacity-75-hover fw-semibold" href="#projectsName">Projetos</a>
            </li>

            <li class="nav-item">
                <a class="d-inline m-3 link-light link-opacity-75 link-underline link-underline-opacity-0 link-underline-opacity-75-hover fw-semibold" href="#me">Sobre Mim</a>
            </li>

            <li class="nav-item">
                <a class="d-inline m-3 link-light link-opacity-75 link-underline link-underline-opacity-0 link-underline-opacity-75-hover fw-semibold" aria-disabled="true" href="#contact">Contato</a>
            </li>
        </ul>
    </div>
</nav>



