<article id="presentation" class="text-center text-light p-5 mb-5 mt-5 container-fluid">
	<div class="container row">
		<img class="col-6" id="imagePresentation" src="src/assets/images/imagePresentation.webp" width="694px" height="586px" alt="presentation-pc" style="position: relative; top: 100px;">

		<div class="col-6">
			<i id="face" class="fa-regular fa-face-smile-wink fa-bounce fa-2xl" style="color: #f5ed00;"></i>
					
			<h1 class="p-1 presentationDesc">Olá, Eu sou</h1>

			<h1 id="name" class="p-5"> Caio Ribeiro</h1>
						
			<h1 class="p-1 presentationDesc">Seja bem-vindo ao meu portifólio.</h1>	
		</div>
	</div>

	<div class="container row" style="margin-top: 25%;">
		<div class="col-6" id="presentationDesWeb">
			<h1 class="p1 presentationDesc">Desenvolvedor Web</h1>

			<h1 class="p2 presentationDesc">Front-End</h1>

			<i class="fa-solid fa-bolt fa-fade fa-2xl mt-5 p-3" style="color: #FFD43B;"></i>
		</div>

		<div class="col-6" id="presentationImg1">
			<img class="col-6" id="imagePresentation1" src="src/assets/images/imagePresentation1.webp" width="624px" height="500px" alt="presentation-notebook">
		</div>
	</div>	
</article>