<h2 id="projectsTitle" clas="mt-5">Pessoais</h2>
<div>
	<section>
		<article class="container row group-projects mt-5">
			<div class="col-6 projects">
                <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;"onclick="fullscreen('p1'); return false"></i>
                <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/marioquest" target="_blank">Mario Quest</a></span>
                <a href="" target="_blank" rel="noopener noreferrer">
                    <iframe id="p1" src="https://caiosribeirojp.com/marioquest" scrolling="auto" frameborder="1" allowfullscreen="true" width="auto" height="auto" title="mario-bro"></iframe>
                </a>
                    
                <span class="coursesDesc">
                    Website criado com a inteção de apresentar todos os jogos da franquia Mario, com suas descrições, 
                    image e video apresentando sobre o jogo.
                </span>
                <span class="coursesTools">
                    <p>
                        <span class="html">HTML5</span> 
                                        <span class="css">CSS3</span> 
                        <span class="bootstrap">Bootstrap</span>
                        <span class="js">JavaScript</span>
                        <span class="jquery">jQuery</span>
                    </p>
                </span>
            </div>
                            
            <div class="col-6 projects">
                <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;"onclick="fullscreen('p2'); return false"></i>
                <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/mariorace" target="_blank">Mario Quest</a></span>
                <a href="" target="_blank" rel="noopener noreferrer">
                    <iframe id="p2" src="https://caiosribeirojp.com/mariorace" scrolling="auto" frameborder="1" allowfullscreen="true" width="auto" height="auto" title="mario-bro"></iframe>
                </a>
                    
                <span class="coursesDesc">
                    Jogo simples criado com JavaScript puro, gerando dinamicamente elementos HTML e estilos CSS.
                </span>
                <span class="coursesTools">
                    <p>
                        <span class="html">HTML5</span> 
                        <span class="js">JavaScript</span>
                    </p>
                </span>
            </div>
        </article>
     </section>
</div>
