<section>
    <article class="container row group-sites mt-5">
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c1'); return false"></i>
            <span class="nameCourses"><a class="nav-link" href="https://caiosribeirojp.com/app-pesquisa-endereco" target="_blank">App Pesquisa Endereço</a></span>
            <iframe id="c1" src="https://caiosribeirojp.com/app-pesquisa-endereco" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Aplicação web criada para pesquisar endereços apenas colando o CEP, realizando requisições
                HTTP via XMLHttpRequest para API's, desenvolvida junto com o curso "Desenvolvimento Web Completo - 20 Courses + 20 projetos"
                na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="css">CSS3</span> 
                    <span class="bootstrap">Bootstrap</span>
                    <span class="js">JavaScript</span>
                    <span class="ajax">Ajax</span>
                </p>
            </span>
        </div>
    </article>
</section>

