<nav id="coursesPage">
    <ul class="pagination justify-content-center">
        <li onclick="destino('first')" class="page-item"><a style="background-color: aqua" id="1" class="page-link first">1</a></li>
        <li onclick="destino('second')" class="page-item"><a id="2" class="page-link second">2</a></li>
        <li onclick="destino('third')" class="page-item"><a id="3" class="page-link third">3</a></li>
        <li onclick="destino('fourth')" class="page-item"><a id="4" class="page-link fourth">4</a></li>
        <li style="display: none;" onclick="destino('fifth')" class="page-item"><a id="5" class="page-link fifth">5</a></li>
    </ul>   
</nav>

<section id="one">
    <article class="container row group-sites mt-5">
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c1'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/projeto-anna-bella" target="_blank">Projeto Anna Bella</a></span>           
            <iframe id="c1" src="https://caiosribeirojp.com/projeto-anna-bella" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Um website baseando-se em uma página web pessoal sobre uma modelo, desenvolvida junto com o curso "Desenvolvimento Web Completo - 20 cursos + 20 projetos"
                na plataforma Udemy. 
            </span>
            <div class="coursesTools">
                <p><span class="html">HTML5</span> <span class="css">CSS3</span></p>
            </div>
        </div>

        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c2'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/projeto-bradesco" target="_blank">Projeto Bradesco</a></span>
            <iframe id="c2" src="https://caiosribeirojp.com/projeto-bradesco" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Website feito junto com um curso da Estituição Bradesco, criando páginas com conteúdos referente a tal.
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> <span class="css">CSS3</span>
                </p>
            </span>
        </div>
    </article>
    
    <article class="container row group-sites mt-5">
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c3'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/projeto-finans" target="_blank">Projeto Finans</a></span>
            <iframe id="c3" src="https://caiosribeirojp.com/projeto-finans" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Website feito junto com um layout pensado em um site sobre finanças, desenvolvido junto com o curso "Desenvolvimento Web Completo - 20 cursos + 20 projetos"
                na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="css">CSS3</span> 
                    <span class="bootstrap">Bootstrap</span>
                </p>
            </span>
        </div>

        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c4'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/spotify-clone" target="_blank">Spotify Clone</a></span>
            <iframe id="c4" src="https://caiosribeirojp.com/spotify-clone" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Website feito com o intuito de cirar um 'clone' da plataforma Spotify, desenvolvido junto com o curso "Desenvolvimento Web Completo - 20 cursos + 20 projetos"
                na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="css">CSS3</span> 
                    <span class="bootstrap">Bootstrap</span>
                </p>
            </span>
        </div>
    </article>
</section>

<section id="two">
    <article class="container row group-sites mt-5">
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c5'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/projeto-google-glass" target="_blank">Projeto Google Glass</a></span>
            <iframe id="c5" src="https://caiosribeirojp.com/projeto-google-glass" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Website feito sobre um acessório de um óculos chamado "Google Grass", apresentado suas utilizadas, desenvolvido
                junto com o curso "Curso em Video" do professor Gustavo Guanabara.
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="css">CSS3</span> 
                    <span class="bootstrap">Bootstrap</span>
                    <span class="js">JavaScript</span>
                </p>
            </span>
        </div>

        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c6'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/app-game-mata-mosquito" target="_blank">App Game Mata Mosquito</a></span>
            <iframe id="c6" src="https://caiosribeirojp.com/app-game-mata-mosquito" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Um jogo para desafiar sua agilidade em precisar matar todos mosquitos que aparecer na tela até o tempo 
                acabar.
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="css">CSS3</span> 
                    <span class="bootstrap">Bootstrap</span>
                    <span class="js">JavaScript</span>
                </p>
            </span>
        </div>
    </article>
    
    <article class="container row group-sites mt-5">
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c7'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/app-orcamento-pessoal" target="_blank">App Orçamento Pessoal</a></span>
            <iframe id="c7" src="https://caiosribeirojp.com/app-orcamento-pessoal" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Aplicação web criada para controle pessoal de finanças, desenvolvida junto com o curso "Desenvolvimento Web Completo - 20 cursos + 20 projetos"
                na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="bootstrap">Bootstrap</span>
                    <span class="js">JavaScript</span>
                </p>
            </span>
        </div>

        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c8'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/app-help-desk" target="_blank">App Help Desk</a></span>
            <iframe id="c8" src="https://caiosribeirojp.com/app-help-desk" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Aplicação web criada e baseada para abertura e acompanhamento de suportes técnicos, desenvolvida junto com o curso "Desenvolvimento Web Completo - 20 cursos + 20 projetos"
                na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="css">CSS3</span> 
                    <span class="bootstrap">Bootstrap</span>
                    <span class="php">PHP</span>
                </p>
            </span>
        </div>
    </article>
</section>

<section id="three">
    <article class="container row group-sites mt-5">
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c9'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/app-pesquisa-endereco" target="_blank">App Pesquisa Endereço</a></span>
            <iframe id="c9" src="https://caiosribeirojp.com/app-pesquisa-endereco" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Aplicação web criada para pesquisar endereços apenas botando o CEP, realizando requisições
                HTTP via XMLHttpRequest para API's, desenvolvida junto com o curso "Desenvolvimento Web Completo - 20 cursos + 20 projetos"
                na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="css">CSS3</span> 
                    <span class="bootstrap">Bootstrap</span>
                    <span class="js">JavaScript</span>
                    <span class="ajax">Ajax</span>
                </p>
            </span>
        </div>

        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c10'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/app-dashboard" target="_blank">App Dashboard</a></span>
            <iframe id="c10" src="https://caiosribeirojp.com/app-dashboard" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Aplicação web criada e baseada em um dashboard integrando front-end, back-end e banco de dados,
                desenvolvida junto com o curso "Desenvolvimento Web Completo - 20 cursos + 20 projetos" na plataforma Udemy. 
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="css">CSS3</span> 
                    <span class="bootstrap">Bootstrap</span>
                    <span class="jquery">jQuery</span>
                    <span class="php">PHP</span>
                    <span class="mysql">MySQL</span>
                </p>
            </span>
        </div>
    </article>
    
    <article class="container row group-sites mt-5">
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c11'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/flappy-bird" target="_blank">Flappy Bird</a></span>
            <iframe id="c11" src="https://caiosribeirojp.com/flappy-bird" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Um jogo desktop pouplar criado para desafiar sua agilidade em desviar dos obstáculos que vem pela frente.
                O jogo foi desenvolvido junto com o curso "Curso Web Moderno Completo com JavaScript + Projetos" da Cod3r na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="css">CSS3</span> 
                    <span class="js">JavaScript</span>
                </p>
            </span>
        </div>
        
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c12'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/app-galery" target="_blank">App Galery</a></span>
            <iframe id="c12" src="https://caiosribeirojp.com/app-galery" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Aplicação web criada e baseada em um exemplo de uma galeria de fotos de cidades de forma assíncrona.
                O site foi desenvolvido junto com o curso "Curso Web Moderno Completo com JavaScript + Projetos" da Cod3r na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="css">CSS3</span>
                    <span class="bootstrap">Bootstrap</span>
                    <span class="js">JavaScript</span>
                    <span class="jquery">jQuery</span>
                </p>
            </span>
        </div>
    </article>
</section>

<section id="four">
    <article class="container row group-sites mt-5">
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c13'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/app-calculator" target="_blank">App Calculator</a></span>
            <iframe id="c13" src="https://caiosribeirojp.com/app-calculator" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Aplicação web criada e baseada em uma calculadora do MacOs utilizando react.
                O site foi desenvolvido junto com o curso "Curso Web Moderno Completo com JavaScript + Projetos" da Cod3r na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="css">CSS3</span>
                    <span class="react">React</span>
                </p>
            </span>
        </div>
        
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c14'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/app-cadastro-usuario" target="_blank">App Cadastro Usuario</a></span>
            <iframe id="c14" src="https://caiosribeirojp.com/app-cadastro-usuario" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Aplicação web utilizando React no Front-end, JavaScript no Back-end, e JSON-Server para simular um Banco de Dados.
                O site foi desenvolvido junto com o curso da Cod3r na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="css">CSS3</span>
                    <span class="bootstrap">Bootstrap</span>
                    <span class="js">JavaScript</span>
                    <span class="react">React</span>
                </p>
            </span>
        </div>
    </article>
</section>

