<section>
    <article class="container row group-sites mt-5">
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c1'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/app-calculator" target="_blank">App Calculator</a></span>
            <iframe id="c1" src="https://caiosribeirojp.com/app-calculator" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Aplicação web criada e baseada em uma calculadora do MacOs utilizando react.
                O site foi desenvolvido junto com o curso "Curso Web Moderno Completo com JavaScript + Projetos" da Cod3r na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="css">CSS3</span>
                    <span class="react">React</span>
                </p>
            </span>
        </div>
        
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c2'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/app-cadastro-usuario" target="_blank">App Cadastro Usuario</a></span>
            <iframe id="c2" src="https://caiosribeirojp.com/app-cadastro-usuario" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Aplicação web utilizando React no Front-end, JavaScript no Back-end, e JSON-Server para simular um Banco de Dados.
                O site foi desenvolvido junto com o curso da Cod3r na plataforma Udemy.
            </span>
            <span id="appCadastroUsuario" class="coursesTools">
                <p>
                    <span class="html">HTML5</span> 
                    <span class="css">CSS3</span>
                    <span class="bootstrap">Bootstrap</span>
                    <span class="js">JavaScript</span>
                    <span class="react">React</span>
                </p>
            </span>
        </div>
    </article>
</section>