<nav id="coursesPage">
    <ul class="pagination justify-content-center">
        <li onclick="destino('first')" class="page-item"><a style="background-color: aqua" id="1" class="page-link first">1</a></li>
        <li onclick="destino('second')" class="page-item"><a id="2" class="page-link second">2</a></li>
        <li style="display: none;" onclick="destino('third')" class="page-item"><a id="3" class="page-link third">3</a></li>
        <li style="display: none;" onclick="destino('fourth')" class="page-item"><a id="4" class="page-link fourth">4</a></li>
        <li style="display: none;" onclick="destino('fouth')" class="page-item"><a id="5" class="page-link fouth">5</a></li>
    </ul>   
</nav>

<section id="one">
    <article class="container row group-sites mt-5">
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c1'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/10minutosexericicios" target="_blank">Projeto 10 Minutos Exercicios</a></span>
            <iframe id="c1" src="https://caiosribeirojp.com/10minutosexericicios" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Projeto criado via Wordpress pensado em um blog sobre exercicios/saúde, 
                desenvolvida junto com o curso "Crie sites profissionais com Wordpress - 6 Projetos" na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <span class="wordpress">Wordpress</span>
            </span>
        </div>

        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c2'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/finans" target="_blank">Projeto Finans</a></span>
            <iframe id="c2" src="https://caiosribeirojp.com/finans" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Projeto de finanças criado via Wordpress,
                desenvolvida junto com o curso "Crie sites profissionais com Wordpress - 6 Projetos" na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <span class="wordpress">Wordpress</span>
            </span>
        </div>
    </article>

    <article class="container row group-sites mt-5">
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c3'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/noticiascidade" target="_blank">Projeto Notícias Cidade</a></span>
            <iframe id="c3" src="https://caiosribeirojp.com/noticiascidade" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Projeto criado via Wordpress pensado em um blog sobre portal de notícias, 
                desenvolvida junto com o curso "Crie sites profissionais com Wordpress - 6 Projetos" na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <span class="wordpress">Wordpress</span>
            </span>
        </div>

        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c4'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/parirbistro" target="_blank">Projeto Paris Bistrô</a></span>
            <iframe id="c4" src="https://caiosribeirojp.com/parirbistro" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Projeto criado via Wordpress pensado em um blog sobre restaurante, 
                desenvolvida junto com o curso "Crie sites profissionais com Wordpress - 6 Projetos" na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <span class="wordpress">Wordpress</span>
            </span>
        </div>
    </article>
</section>

<section id="two">
    <article class="container row group-sites mt-5">
        <div class="col-6 sites">
            <i class="fa-solid fa-expand fa-2xl fullscreen" style="color: #000000;" onclick="fullscreen('c5'); return false"></i>
            <span class="coursesName"><a class="nav-link" href="https://caiosribeirojp.com/sampa" target="_blank">Projeto Sampa</a></span>
            <iframe id="c5" src="https://caiosribeirojp.com/sampa" scrolling="auto" frameborder="1" allowfullscreen="true"></iframe>
            <span class="coursesDesc">
                Projeto criado via Wordpress pensado em uma loja virtual, 
                desenvolvida junto com o curso "Crie sites profissionais com Wordpress - 6 Projetos" na plataforma Udemy.
            </span>
            <span class="coursesTools">
                <span class="wordpress">Wordpress</span>
            </span>
        </div>
    </article>
</section>

